{
  "globals": {
    "document": false,
    "window": true
  },
  "env": {
    "node": true,
    "commonjs": true,
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "plugins": [
    "mocha",
    "async-await"
  ],
  "extends": "eslint:recommended",
  "rules": {
    "no-console": "off",
    "indent": [
      4
    ],
    "linebreak-style": [
      "error",
      "unix"
    ],
    "quotes": [
      "error",
      "double"
    ],
    "semi": [
      "error",
      "always"
    ],
    "mocha/no-exclusive-tests": "error"
  }
}