extends layouts/default

block content

    .wrap
        h1 Frontend Boilerplate with sass, pug, browserify and more
        .logos
            img(src="img/gulp-logo.svg")
            img(src="img/browserify-logo.png")
            img(src="img/sass-logo.png")


